:root {
  --dark-body-bg: #1F2937;
  --color-white: #fff;
  /* --dark-green-color: #4ADF86; */
  --dark-green-color: 74, 223, 134;
  --color-gray: #D5D4D8;
  --dark-btn-bg: #10B981;
  --dark-hr: #2F3E53;
  --dark-input-bg: #273549;
  --dark-input-color: #55F991;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dark-body-bg);
  color: var(--color-white);
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 550px;
  margin: 0.5rem auto;
  padding: 20px 30px;
}

.heading {
  font-family: 'Karla', sans-serif;
  font-weight: 800;
  font-size: 1.75rem;
  margin: 10px 0 15px;
}

h1 strong {
  color: rgb(var(--dark-green-color));
  display: block;
}

p {
  color: var(--color-gray);
  font-size: 1.25rem;
  margin: 10px 0;
}

.password-options {
  margin: 2rem auto 1rem;
}

.password-options label, .password-options input {
  cursor: pointer;
}

.btn {
  height: 42px;
  background-color: var(--dark-btn-bg);
  border: none;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  color: var(--color-white);
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.2s transform;
}

.btn-normal {
  margin: 1rem 0 0;
}

.btn-normal:hover {
  opacity: 0.9;
}

.btn-normal:active {
  transform: scale(0.98);
}

.btn-small {
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0 4px;
  border-radius: 5px;
}

.disabled {
  background-color: var(--color-gray);
  cursor: not-allowed;
}

#pw-length {
  width: 18px;
  text-align: center;
  display: inline-block;
}

.btn-password {
  margin-top: 1rem;
  min-width: 210px;
  color: var(--dark-input-color);
  background-color: var(--dark-input-bg);
  height: 40px;
  text-align: center;
}

.random-password:active {
  transform: scale(0.98);
}

.random-password:hover {
  background-image: url(content_copy.svg);
  background-repeat: no-repeat;
  background-position: right 5px center;
  border-bottom: 1px solid rgba(var(--dark-green-color), 0.4);
  box-shadow: rgba(var(--dark-green-color), 0.1) 0px 4px 6px -1px, rgba(var(--dark-green-color), 0.06) 0px 2px 4px -1px;
}

.password-outputs {
  margin-top: 2rem;
  border-top: 1px solid var(--dark-hr);
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4px;
}

.info-msg {
  text-align: center;
  font-size: 0.75rem;
}

.d-none {
  opacity: 0;
}

.mb-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
  display: flex;
  align-items: center;
}

/* CUSTOM CHECKBOX */
/* The container */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
  line-height: 1;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: var(--color-gray);
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: var(--dark-btn-bg);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

@media screen and (min-width: 550px) {
  .container {
    width: 550px;
    margin: 3rem auto 1rem;
    padding: 20px 50px;
  }

  .heading {
    font-size: 2.5rem;
  }
}